name: Latest blog post workflow
on:
  schedule:
    # Runs every 12 hours (00:00 and 12:00 UTC)
    - cron: '0 */12 * * *'
  workflow_dispatch: # Allows you to run it manually for testing

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          # Replace this with your actual RSS feed URL
          feed_list: "https://andreklein.net/feed/"
          max_post_count: 5